<!DOCTYPE html>
<html lang="en">
<head>
	<include file="header" />
</head>
<body>

	<include file="navbar" />

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<include file="menu" />
				</div><!--/.span3-->

				<div class="span9">
					<div class="content">
						<div class="module">
							<div class="module-head">
								<h3>管理分类
									<if condition="$parent">
										<a class="pull-right" href="/admin/classify/write?parent={$parent}">新增</a>
								    <else />
										<a class="pull-right" href="/admin/classify/write">新增</a>
									</if>
								</h3>
							</div>
							<div class="module-body">
								{$alert}
								<table class="table">
								  <thead>
									<tr>
									    <th>名称</th>
										<th>文章数</th>
									    <th>子分类</th>
									    <th>缩略名</th>
										<th></th>
									</tr>
								  </thead>
								  <tbody>
									  <volist name="classifies" id="v">
										  <tr>
											  <td><a href="/admin/classify/write?id={$v.id}">{$v.name}</a></td>
											  <td><b class="label ">{$v.count}</b></td>
											  <if condition="$v.nchild">
												  <td><a href="/admin/classify/index?parent={$v.id}">{$v.nchild}个分类</a></td>
										      <else />
												  <td><a href="/admin/classify/write?parent={$v.id}">新增</a></td>
											  </if>
											  <td>{$v.slug}</td>
											  <td><a class="btn" confirm="确实要删除该内容吗?" href="{:safe('/admin/classify/del?id='.$v.id)}">删除</a></td>
										  </tr>
									  </volist>
								  </tbody>
								</table>
							</div>
						</div>

						<br />
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<include file="footer" />
</body>