<!--/.wrapper-->
<div class="footer">
    <div class="container align-center">
        <b class="copyright">&copy; 2018 Sblog - <a href="https://nb.cx" title="NBCX" target="_blank">NBCX</a> </b>All rights reserved.
        Processed:<?=round(microtime(true) - \nb\Request::driver()->requestTimeFloat,4); ?>
    </div>
</div>

<!--
<script src="_pub_scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="_pub_scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
-->
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script src="_pub_bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="_pub_scripts/common.js" type="text/javascript"></script>