<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sblog</title>
<link rel="icon" href="/favicon.ico">
<link type="text/css" href="_pub_bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="_pub_bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link type="text/css" href="_pub_css/theme.css" rel="stylesheet">
<link type="text/css" href="_pub_images/icons/css/font-awesome.css" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<style>
    .container {
        max-width: 1000px;
    }
    a {
        color: #467B96;
        text-decoration: none;
    }
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .comment .module-option {
        border-bottom: none;
        margin: 0;
        padding: 0 0 5px;
    }
    .stream-list {
        margin: 0;
    }
    .profile-tab {
        margin: 0 -15px 15px;
    }
    span.btn{
        padding: 5.1px 10px;
    }
    .stream-author {
        margin: -10px 0 5px 0;
    }
</style>