<!DOCTYPE html>
<html lang="en">
<head>
	<include file="header" />
</head>
<body>

	<include file="navbar" />

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<include file="menu" />
				</div><!--/.span3-->

				<div class="span9">
					<div class="content">
						<div class="module">
							<div class="module-head">
								<h3>管理独立页面
									<a class="pull-right" href="/admin/classify/write">新增</a>
								</h3>
							</div>
							<div class="module-body">
								<!--
								<p>
									<strong>我的电脑</strong>
									-
									<small>子分类</small>
								</p>
								-->
								{$alert}
								<table class="table">
								  <thead>
									<tr>
									    <th>标题</th>
									    <th>缩略名</th>
									    <th>日期</th>
									    <th>评论数</th>
										<th width="20"></th>
									</tr>
								  </thead>
								  <tbody>
									  <volist name="pages" id="v">
										  <tr>
											  <td><a href="/admin/page/write?id={$v.id}">{$v.title}</a></td>
											  <td>{$v.slug}</td>
											  <td>{$v.modified|dateword}</td>
											  <td><b class="label ">{$v.commentsNum}</b></td>
											  <td><a confirm="确定删除此页面吗？" class="btn" href="{:safe('/admin/page/del?id='.$v.id)}">删除</a></td>
										  </tr>
									  </volist>
								  </tbody>
								</table>

								<br />
								<!-- <hr /> -->

							</div>
						</div>

					<br />
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<include file="footer" />
</body>